{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="p-3 border-bottom">
                {% for category, message in messages %}
                    <div class="alert alert-{% if category == 'error' %}danger{% elif category == 'success' %}success{% else %}info{% endif %} alert-dismissible fade show mb-0" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% include "_profile.html" %}

    <!-- Edit Profile Modal Dialog Overlay -->
    {% if current_user.is_authenticated %}
        {% include "_profile_edit.html" %}
    {% endif %}
{% endblock %}
